block variables
doctype html
html
  head
    meta(charset='utf-8')
    link(rel='shortcut icon', href='/images/favicon.ico')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='theme-color', content='#000000')
    title #{title} | Preruse
    link(rel='stylesheet' href='/stylesheets/style.css')
    block css
    block scripts
  body
    div#root
      block layout-content
