<script id="show-gallery" type="text/x-handlebars-template">
    <span class="Galleria spaced">
        {{#each bitstreamArray}}
        <img src="{{data}}" alt="gallery-pic">
        {{/each}}
    </span>
</script>