extends internal_layout

block css
    link(rel='stylesheet' href='/stylesheets/galleria.css')
    link(rel='stylesheet' href='/stylesheets/table.css')
block scripts
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js')
    script(type='text/javascript', src='/js/galleria-1.6.1/galleria.min.js')
    script(type='text/javascript' src='/js/jquery/galleria/main.js')

block body
    div.View.GalleryView
        h1.Banner.spaced #{banner}
        div.SearchBox.spaced
            input.SearchInput#search_folder(placeholder='Type the name of a folder')
            div.PreruseButton.SearchButton(onclick='searchListener()') Search
            div.Result#results
            include listTemplate.html
        div#gallery-div
        include galleryTemplate.html