extends base_layout

block layout-content
  div.View.WelcomeView
    h1.Banner Preruse
    div.Message
      div.Title
        h3 Yet another UI
        h1 to peruse your Preservica content
      span.Details Access the Panopticon Team Portal
    div.NavButtons
      a(href='/user')
          div.PreruseButton.NavButton Just dive in!
