<script id="search-results" type="text/x-handlebars-template">
    <table class="tg">
        <thead>
        <tr>
            <th>Folder name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {{#each resultsArray}}
        <tr>
            <td onclick="makeGalleryFromFolder('{{soRef}}')">{{folderName}}</td>
            <td onclick="makeGalleryFromFolder('{{soRef}}')">{{description}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</script>