extends base_layout

block layout-content
  div.View.WelcomeView
    h1.Banner Howdy, #{userProfile.nickname}!
    div.Message
      div.Title
        h3 Making Us the Best
        h1 Teammate Profile
      pre.Details=JSON.stringify(userProfile, null, 2)
    div.NavButtons
      a(href='/logout')
        div.PreruseButton.NavButton Log out
