.GalleryView {
    background: url("/images/gallery_background.jpg") left bottom;
    background-size: cover;
    align-items: center;
    justify-content: start;
}

.spaced {
    margin: 5px 5px;
}

.SearchBox {
    background: var(--ui-box);
    padding: 5px;
    min-width: 400px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom: var(--ui-shawdow-border);
    box-shadow: var(--ui-shawdow);
}

.SearchBox > .SearchInput {
    margin: 5px 5px;
    line-height: 1.5em;
    min-width: 70%;
    border-radius: 12px;
}

.SearchBox > .Message {
    padding-top: 20px;
}

.SearchButton {
    height: 30px;
    background: var(--siena);
}

.Result {
    display: none;
}

.Galleria{
    /*max-width: 80%;*/
    width: 750px;
    height: 500px;
    margin: 0 auto;
}